body {
	background-color: #262626;
}

p {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#my_name {
	text-align: center;
	color: white;
}

#main_photo {
	display: block;
	margin: 0 auto;
	width: 200px;
}

#about_me {
	color: white;
}