body {
	background-color: WhiteSmoke;
}

p {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.port_img {
	width: 300px;
}

#my_name {
	text-align: center;
}

#main_photo {
	display: block;
	margin: 0 auto;
	width: 200px;
}
